.page-wrapper{
	.page-header{
		.panel.wrapper{
			background:transparent url('../images/bg_header.jpg') no-repeat center top;
			border-bottom:none;
			background-color: yellow;
		}
		.panel.header{
			padding-top:0;
			padding-bottom:0;
            text-align:center;
        }
    }
}