<p>NEW</p>
<p>COLLECTION</p>
<p>TREND.FASHION</p>
<p><a href="purchase">PURCHASE NOW</a></p>
<p><img src="{{media url=" banner_2.jpg "}}" alt=""></p>

<div class="promo">
    <strong>25% OFF*</strong> FOR A LIMITED TIME ONLY
    <strong>ENTER PROMO CODE: TREND.FASHION</strong>
</div>
<div class="new-trend-fashion">
    <p>NEW</p>
    <p>COLLECTION</p>
    <p>TREND.FASHION</p>
    <p><a href="purchase">PURCHASE NOW</a></p>
</div>


<div class="owl-carousel owl-theme">
    <div class="item">
        <div class="item_text">
            <p>NEW</p>
            <p>COLLECTION</p>
            <p>TREND.FASHION</p>
            <p><a href="purchase">PURCHASE NOW</a></p>
        </div>
    </div>
    <div class="item">
        <div class="item_text">
            <p>NEW</p>
            <p>COLLECTION</p>
            <p>TREND.FASHION</p>
            <p><a href="purchase">PURCHASE NOW</a></p>
        </div>
    </div>
    <div class="item">
        <div class="item_text">
            <p>NEW</p>
            <p>COLLECTION</p>
            <p>TREND.FASHION</p>
            <p><a href="purchase">PURCHASE NOW</a></p>
        </div>
    </div>
</div>

<div class="owl-carousel owl-theme">
    <div class="item"><img src="{{media url=" banner_1.jpg "}}" alt="">
        <div class="item_text">
            <p>NEW</p>
            <p>COLLECTION</p>
            <p>TREND.FASHION</p>
            <p><a href="purchase">PURCHASE NOW</a></p>
        </div>
    </div>
    <div class="item"><img src="{{media url=" banner_2.jpg "}}" alt="">
        <div class="item_text">
            <p>NEW</p>
            <p>COLLECTION</p>
            <p>TREND.FASHION</p>
            <p><a href="purchase">PURCHASE NOW</a></p>
        </div>
    </div>
    <div class="item"><img src="{{media url=" banner_3.jpg "}}" alt="">
        <div class="item_text">
            <p>NEW</p>
            <p>COLLECTION</p>
            <p>TREND.FASHION</p>
            <p><a href="purchase">PURCHASE NOW</a></p>
        </div>
    </div>
</div>


<div class="address">
    <div class="content-address">
        <p>ADD:</p>
        <p>Walls Street 68, Mahattan New York, USA</p>
    </div>
    <div class="content-address">
        <p>PHONE</p>
        <p>(+84) 973 378 001</p>
    </div>
    <div class="content-address">
        <p>EMAIL</p>
        <p>infor@trendtheme.com</p>
    </div>
</div>

<div class="shopping">
    <div class="shopping-content">
        <p>FREE SHIPPING WORLDWIDE</p>
        <P>On order over $200</P>
    </div>
    <div class="shopping-content">
        <p>30-DAY RETURN PRODUCT</p>
        <P>Monneyback Guarantee</P>
    </div>
    <div class="shopping-content">
        <p>MEMBER SAFE SHOPPING</p>
        <P>Safe shopping Guarantee</P>
    </div>
</div>

<ul class="follow">
    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
    <li><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
    <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
    <li><a href="#"><span class="fa fa-youtube"></span></a></li>
</ul>


<div class="guarantee col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
    <div class="guarantee-content"><img src="{{media url=" guarantee_2.png " }} " alt=" ">
        <div class="guarantee-text">
            <p>30-DAY RETURN PRODUCTS</p>
            <p>Moneyback Guarantee</p>
        </div>
    </div>
    <div class="guarantee-content"><img src="{{media url=" guarantee_2.png " }} " alt=" ">
        <div class="guarantee-text">
            <p>30-DAY RETURN PRODUCTS</p>
            <p>Moneyback Guarantee</p>
        </div>
    </div>
    <div class="guarantee-content"><img src="{{media url=" guarantee_2.png " }} " alt=" ">
        <div class="guarantee-text">
            <p>MEMBER SAFE SHOPPING</p>
            <p>Safe Shopping Guarantee</p>
        </div>
    </div>

    <div class="follow col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
        <p>FOLLOW US ON</p>
    </div>

    <!-- product -->
    <i class="far fa-heart"></i>
    <i class="fas fa-search-plus"></i>

    <!-- deal: widget->showproduct theo dkien, sau đó style -->
    <!-- rating: https://www.hiddentechies.com/blog/magento-2/magento-2-get-product-reviews-collection-rating/ -->


    <div class="container blog">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 blog-left">
                <div class="">

                </div>
            </div>
        </div>
    </div>


    <div class="trending">
        <div class="trend-text">
            <p>2016</p>
            <p>TRENDING</p>
        </div>
        <div class="trend-nav">
            <a href="#"> <span class="fa fa-check" aria-hidden="true"></span>BEST SELLER</a> <a href="#"><span class="fa fa-times" aria-hidden="true"></span>ON SALE</a> <a href="#"><span
                    class="fa fa-times" aria-hidden="true"></span>MOST VIEWED</a></div>
        {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="6" template="Magento_CatalogWidget::product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`45`^]^]"}}
    </div>

    <div class="trending new">
        <div class="trend-text">
            <p>NEW</p>
            <p>PRODUCTS</p>
        </div>
        <div class="trend-nav">
            <a href="#"></a>
            <a href="#"></a><span class="fa fa-check" aria-hidden="true"></span>MAN'S</a> <a href="#"><span
                    class="fa fa-times" aria-hidden="true"></span>BAGS AND SHOES</a> <a href="#"><span class="fa fa-times"
                    aria-hidden="true"></span>JEWELRY</a><a href="#"><span class="fa fa-times" aria-hidden="true"></span>ACCESSORIES</a></div>
    </div>

    <div class="trending top">
        <div class="trend-text">
            <p>TOP</p>
            <p>BRANDS</p>
        </div>
        <div class="trend-nav">
            <a href="#"><img src="{{media url=&quot;brand_1.jpg&quot;}}" alt="" /></a>
            <a href="#"><img src="{{media url=&quot;brand_2.jpg&quot;}}" alt="" /></a>
            <a href="#"><img src="{{media url=&quot;brand_3.jpg&quot;}}" alt="" /></a>
            <a href="#"><img src="{{media url=&quot;brand_4.jpg&quot;}}" alt="" /></a>
            <a href="#"><img src="{{media url=&quot;brand_5.jpg&quot;}}" alt="" /></a>
            <a href="#"><img src="{{media url=&quot;brand_6.jpg&quot;}}" alt="" /></a>
        </div>
        {{widget type="Magento\CatalogWidget\Block\Product\ProductsList" show_pager="0" products_count="10" template="Magento_CatalogWidget::product/widget/content/grid.phtml" conditions_encoded="^[`1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Combine`,`aggregator`:`all`,`value`:`1`,`new_child`:``^],`1--1`:^[`type`:`Magento||CatalogWidget||Model||Rule||Condition||Product`,`attribute`:`category_ids`,`operator`:`==`,`value`:`48`^]^]"}}
    </div>



    <div class="card img-fluid" style="width:100%">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
            <p class="card-text">TODAY'S HOT DEAL</p>
            <a href="#">Luois Vuitton Bags</a>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p class="card-text">$86.68<span>$155.00</span></p>
            <div class="time-out-deal">
                <div class="time-out">
                    <p>DAYS</p>
                    <p>00</p>
                </div>
                <div class="time-out">
                    <p>HOURS</p>
                    <p>04</p>
                </div>
                <div class="time-out">
                    <p>MINS</p>
                    <p>50</p>
                </div>
                <div class="time-out">
                    <p>SECS</p>
                    <p>21</p>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-img-overlay {
        padding: 0px;
    }
</style>


<div class="card img-fluid"><img src="{{media url=&quot;newsletter.jpg&quot;}}" class="card-img-top" style="width: 100%;" alt="" />
    <div class="card-img-overlay">
        <p class="card-text">SALE UPTO</p>
        <p class="card-text">30%</p>
        <p class="card-text">On your next purchase!</p>
    </div>
    <div class="card-img-overlay">
        {{block class="Magento\Newsletter\Block\Subscribe" name="static.newsletter" template="Magento_Newsletter::subscribe.phtml"}}
    </div>
</div>